form{
background:white;
width:350px;
border:1px solid white;
border-radius:8px;
text-align:center;
margin-top:10px;
margin-bottom:10px;
padding-top:15px;
padding-bottom:15px;
}
button{
width:150px;
height:25px;
background:yellow;
border-radius:15px;
}
.bt:hover{
background:red;
color:white;
}
.fr{
margin-left:800px;
}
body{
background:antiquewhite;
}
.fb{

font-size:26px;
width:500px;
margin-top:150px;
float:left;
height:40%;
margin-left:25%;


}
.tx{
color:blueviolet;

}
.div-fr{
float:left;
height:40%;
margin-top:300px;
}
input{
margin:5px;
width:350px;
height:35px;
border:1px solid aqua;
border-radius:8px;
font-size:15px;
padding-left:10px;
}
.ny{
background:blueviolet;
color:white;
font-size:16px;
width:305px;
height:40px;
border-radius:8px;
}
a{
text-decoration:none;
}
.mu{
margin-bottom:5px;
border-radius:8px;
font-size:16px;
width:275px;
height:40px;
background:green;
color:white;
}